<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="demoIdp" type="IdentityProviderDemo.Logic.DemoIdPConfigurationSection"/>
	</configSections>
	<demoIdp>
		<users>
			<add userName="Ulla" password="Test1234" nameId="198611062384">
				<attributes>
					<add name="dk:gov:saml:attribute:eidas:naturalperson:PersonIdentifier" value="SE/DK/XX0611867898" />
					<add name="dk:gov:saml:attribute:eidas:naturalperson:CurrentFamilyName" value="Alm" />
					<add name="dk:gov:saml:attribute:eidas:naturalperson:CurrentGivenName" value="Ulla" />					
					<add name="dk:gov:saml:attribute:eidas:naturalperson:DateOfBirth" value="1986-11-06" />
					<add name="dk:gov:saml:attribute:eidas:naturalperson:BirthName" value="Ulla Alm" />
					<add name="dk:gov:saml:attribute:eidas:naturalperson:PlaceOfBirth" value="PlaceOfBirth" />
					<add name="dk:gov:saml:attribute:eidas:naturalperson:CurrentAddress" value="Female" />
					<add name="dk:gov:saml:attribute:eidas:naturalperson:Gender" value="Female" />
					<add name="dk:gov:saml:attribute:CprNumberIdentifier" value="0611867898" />
					<add name="dk:gov:saml:attribute:CprNumberIdentifier:context" value="https://data.gov.dk/attributes/coupling/loa/Substantial" />
				</attributes>
			</add>
			<add userName="Bogart" password="Test1234" nameId="1234401658524">
				<attributes>
					<add name="dk:gov:saml:attribute:eidas:naturalperson:PersonIdentifier" value="EU/DK/AZ2901658524" />
					<add name="dk:gov:saml:attribute:eidas:naturalperson:CurrentFamilyName" value="Santos" />
					<add name="dk:gov:saml:attribute:eidas:naturalperson:CurrentGivenName" value="Bogart" />
					<add name="dk:gov:saml:attribute:eidas:naturalperson:DateOfBirth" value="1965-01-29" />
					<add name="dk:gov:saml:attribute:eidas:naturalperson:BirthName" value="Bogart Santos" />
					<add name="dk:gov:saml:attribute:eidas:naturalperson:PlaceOfBirth" value="PlaceOfBirth" />
					<add name="dk:gov:saml:attribute:eidas:naturalperson:CurrentAddress" value="Male" />
					<add name="dk:gov:saml:attribute:eidas:naturalperson:Gender" value="Male" />
					<add name="dk:gov:saml:attribute:CprNumberIdentifier" value="2901658524" />
					<add name="dk:gov:saml:attribute:CprNumberIdentifier:context" value="https://data.gov.dk/attributes/coupling/loa/Substantial" />
				</attributes>
			</add>
			<add userName="Gerry" password="Test1234" nameId="98792157788">
				<attributes>
					<add name="dk:gov:saml:attribute:eidas:naturalperson:PersonIdentifier" value="EU/DK/AZ1508996752" />
					<add name="dk:gov:saml:attribute:eidas:naturalperson:CurrentGivenName" value="Gerry" />
					<add name="dk:gov:saml:attribute:eidas:naturalperson:CurrentFamilyName" value="Santos" />
					<add name="dk:gov:saml:attribute:eidas:naturalperson:DateOfBirth" value="1999-08-15" />
					<add name="dk:gov:saml:attribute:eidas:naturalperson:BirthName" value="Gerry Santos" />
					<add name="dk:gov:saml:attribute:eidas:naturalperson:Gender" value="Male" />					
					<add name="dk:gov:saml:attribute:CprNumberIdentifier" value="1508996752" />
					<add name="dk:gov:saml:attribute:CprNumberIdentifier:context" value="https://data.gov.dk/attributes/coupling/loa/Substantial" />
				</attributes>
			</add>
		</users>
	</demoIdp>
	<appSettings>
		<add key="IDPDataDirectory" value="idp-metadata"/>
	</appSettings>
	<connectionStrings/>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.7.2"/>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<system.diagnostics>
		<trace autoflush="true"/>
		<sources>
			<source name="Safewhere" switchValue="Information">
				<listeners>
					<add name="trace"/>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="trace" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\logs\saml2.tracelog"/>
		</sharedListeners>
	</system.diagnostics>
</configuration>