<?xml version="1.0" encoding="utf-8"?>

<configuration>
    
    <appSettings>
        <add key="ServiceProviderEndpoint" value="https://eidsaml-net.dk:30002/login.ashx" />
        <add key="IdpUsername" value="Ulla" />
        <add key="IdpPassword" value="Test1234" />
    </appSettings>
</configuration>