<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="EidFederation" type="eid.saml20.config.ConfigurationReader, eid.saml20"/>
		<section name="EidSAML20Federation" type="eid.saml20.config.ConfigurationReader, eid.saml20"/>
	</configSections>
	<system.web>
		<membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="20">
			<providers>
				<clear/>
				<add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SqlServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" passwordFormat="Hashed" applicationName="/"/>
			</providers>
		</membership>
		<roleManager defaultProvider="SqlProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
			<providers>
				<add name="SqlProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="SqlServices" applicationName="/"/>
			</providers>
		</roleManager>
	</system.web>
	<!--<system.xml.serialization>
		<xmlSerializer tempFilesLocation="C:\logs\tmp"/>
	</system.xml.serialization>
	<system.diagnostics>
		<switches>
			<add name="XmlSerialization.Compilation" value="true"/>
		</switches>
	</system.diagnostics>-->
	<EidFederation xmlns="urn:eid.saml20.configuration" auditLoggingType="eid.test.Logging.AuditLoggerMock, eid.test.saml20">
		<SigningCertificate findValue="CN=ServiceProvider, O=NITA, C=DK" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectDistinguishedName"/>
		<AllowedAudienceUris>
			<Audience>https://saml.safewhere.net</Audience>
			<Audience>urn:borger.dk:id</Audience>
		</AllowedAudienceUris>
		<AuthnRequestAppender type="eid.test.saml20.AuthnRequestAppender.AuthnRequestAppenderSample, eid.test.Saml20"/>
	</EidFederation>
	<EidSAML20Federation xmlns="urn:eid.saml20.configuration">
		<ServiceProvider id="https://saml.safewhere.net" server="http://">
			<ServiceEndpoint localpath="/demo/login.ashx" type="signon" redirectUrl="~/Default.aspx"/>
			<ServiceEndpoint localpath="/demo/logout.ashx" type="logout" redirectUrl="~/MyPage.aspx"/>
			<ServiceEndpoint localpath="/demo/metadata.ashx" type="metadata"/>
			<md:ContactPerson contactType="administrative" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata">
				<md:Company>Safewhere</md:Company>
				<md:GivenName>Niels</md:GivenName>
				<md:SurName>Flensted-Jensen</md:SurName>
				<md:EmailAddress>nfj@safewhere.net</md:EmailAddress>
				<md:TelephoneNumber>70225885</md:TelephoneNumber>
			</md:ContactPerson>
		</ServiceProvider>
		<RequestedAttributes>
			<!-- The attributes that the demonstration identity provider issues. -->
			<att friendlyName="PersonIdentifier" name="dk:gov:saml:attribute:eidas:naturalperson:PersonIdentifier" isRequired="true"/>
			<att friendlyName="FamilyName" name="dk:gov:saml:attribute:eidas:naturalperson:CurrentFamilyName" isRequired="true"/>
			<att friendlyName="FirstName" name="dk:gov:saml:attribute:eidas:naturalperson:CurrentGivenName" isRequired="true"/>
			<att friendlyName="DateOfBirth" name="dk:gov:saml:attribute:eidas:naturalperson:DateOfBirth" isRequired="true"/>
			<att friendlyName="BirthName" name="dk:gov:saml:attribute:eidas:naturalperson:BirthName" isRequired="false"/>
			<att friendlyName="PlaceOfBirth" name="dk:gov:saml:attribute:eidas:naturalperson:PlaceOfBirth" isRequired="false"/>
			<att friendlyName="CurrentAddress" name="dk:gov:saml:attribute:eidas:naturalperson:CurrentAddress" isRequired="false"/>
			<att friendlyName="Gender" name="dk:gov:saml:attribute:eidas:naturalperson:Gender" isRequired="false"/>
		</RequestedAttributes>
		<IDPEndPoints metadata="Saml20\Protocol\MetadataDocs\FOBS">
			<add name="Ping identity" id="ADLER_SAML20_ID">
				<SSO url="https://adler.safewhere.local:9031/idp/SSO.saml2" binding="POST"/>
				<SLO url="https://adler.safewhere.local:9031/idp/SLO.saml2" binding="POST"/>
			</add>
			<add name="Another one" id="urn:TokenService/Safewhere">
				<SSO url="https://adler:9031/idp/SSO.saml2" binding="REDIRECT"/>
				<SLO url="https://adler:9031/idp/SLO.saml2" binding="REDIRECT"/>
			</add>
			<add name="Yet another one" id="TokenService/Safewhere">
				<SSO url="https://adler:9031/idp/SSO.saml2" binding="REDIRECT"/>
				<SLO url="https://adler:9031/idp/SLO.saml2" binding="REDIRECT"/>
			</add>
		</IDPEndPoints>
	</EidSAML20Federation>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
</configuration>
